<div id="InnerContainer">
	<h4>General Configuration</h4>
	<p>Lets collect some more information before we continue!</p>

	<form>
		<fieldset>
			Database Prefix <input type="text">
			<br>
		</fieldset>
		<br>
		<fieldset>
			Site Name <input type="text">
			<br>
			Site Title <input type="text">
			<br>
			Site Tagline <input type="text">
			<br>
			Root Location <input type="text">
			<br>
			
		</fieldset>
	</form>

	<a id="config-forward-link">
		<div id="config-forward-button" class="disabled-button">Continue</div>
	</a>

	<a href="./?progress=sqlsetup">
		<div class="back-button">Back</div>
	</a>
</div>
