<!DOCTYPE HTML>
<html>
<!-- This is the main page template for the installer -->

<head>
	<title>Web Software Installer</title>
	<link rel="stylesheet" href="css/master.css">
	<script type="text/javascript" src="js/master.js"></script>
</head>

<body>
	<div class="Header">
		<h3>Web Platform Installer</h3>

	</div>


	<!-- EVERYTHING FOR METAL!! -->
	<div class="ProgTree">
		<span id="ProgTree">{progress}</span>
	</div>

	<div class="MainContainer">
		{content}	
	</div>

	<div class="Footer">
		<p>This software was produced by the Information Technology Club, OSU</p>
	</div>
</body>
</html>
