<div id="InnerContainer">
	<h4>SQL Setup</h4>
	<p>The first step to installation is getting a connection to your database.</p>
	<form>
		<fieldset>

			Hostname: <input id="dbhost" type="text" value="localhost"  oninput="testConnection()">
			<br>
			Username: <input id="dbuser" type="text"oninput="testConnection()">
			<br>
			Password: <input id="dbpass" type="password" oninput="testConnection()">
			<br>
			Database Name: <input id="dbdatabase" type="text" value="mysite" oninput="testConnection()">
			<br>
			<span id="testResult"></span>
		</fieldset>
	</form>

	<a id="sqlsetup-forward-link">
		<div id="sqlsetup-forward-button" class="disabled-button">Continue</div>
	</a>

	<a href="./">
		<div class="back-button">Back</div>
	</a>
</div>
