<div id="InnerContainer">
	<h4>SQL Setup</h4>
	<p>The first step to installation is getting a connection to your database.</p>
	<form>
		<fieldset>

			Hostname: <input type="text" value="localhost">
			<br>
			Username: <input type="text">
			<br>
			Password: <input type="password">
			<br>
			Database Name: <input type="text" value="mysite">
		</fieldset>
	</form>

	<a href="./?progress=sqlinstall">
		<div id="forward-button">Continue</div>
	</a>

	<a href="./">
		<div id="back-button">Back</div>
	</a>
</div>
