body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: grey;
	font-family: sans-serif;
}

a:visited,
a {
	color: #0000ff;
	text-decoration: none;
}

a:hover {
	color: #0077ee;
}

.main-container {
	display: flex;
}	

.main-content {
	flex-grow: 1;
}

.nav-bar {
	margin: 20px;
	padding: 10px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	border-color: #0011a5;
	background-color: white;
	max-width: 175px;
	min-width: 175px;
	max-height: 218px;
	
	
}
.gateway-header {
	background-color: #00a595;
	color: #0011a5;
	height:100px;
	padding: 0;
	margin: 0;
	text-align: center;
	
}

.gateway-header h1 {
	font-size: 400%;
	white-space: nowrap;
}

#main-content,
#forum-category {
	margin: 20px;
	padding: 10px 20px 10px 20px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	border-color: #0011a5;
	background-color: white;
}

#main-content h4{
	margin: 4px;
}
#forum-category h3{
	margin: 4px;
}

.forum-container {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	/*border-color: #0011a5;*/
	border-color: black;
}

.forum-announcement {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	/*border-color: #0011a5;*/
	border-color: grey;
}
.forum-announcement a {
	color: red;
}
.forum-announcement a:hover {
	color: orange;
}

.forum-container a {
	color: teal;
}
.forum-container a:hover {
	color: green;
}

.document-tree-container {
	background-color: white;
	padding: 2px;
}

.nav-bar div {
	margin: 5px;
	padding: 2px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
}

.recentblogs-container {
	margin: 20px;
	padding: 2px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	border-color: blue;
	background-color: #AAAAAA;
}

/*
.post-title {
	position: absolute;
	left: 10px;
}

.post-section {
	position: absolute;
	right: 10px;
}*/
